@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		height: 100vh;
		font-family: var(--font-inter);
		@apply text-default bg-white;
	}
}

.accordion-body {
	display: grid;
	grid-template-rows: 0fr;
	transition: 200ms grid-template-rows ease;
}

.accordion-body > div {
	overflow: hidden;
}

.accordion-body-open {
	grid-template-rows: 1fr;
}

.accordion-body-close {
	grid-template-rows: 0fr;
}
