@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100vh;
    font-family: var(--font-inter);
    @apply bg-white;
  }
}

.header-underline,
.preview-code-underline {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
}
